---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$h-size-1: 1.25em;
$h-size-2: 1.125em;
$h-size-3: 1.0625em;
$h-size-4: 1.03125em;
$h-size-5: 1em;
$h-size-6: 0.8em;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  p, li, dl {
    font-size: 0.8em;
  }
}

.nav__sub-title {
  font-size: 0.8em;
}

.sidebar {
  p, li {
    font-size: 0.8em;
  }
}

.toc__menu {
  a {
    font-size: 1.2em;
  }
}
